
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}
button{
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
}
body{font-family: "Noto Sans KR", sans-serif;}
/*컨트롤 s 꼭 눌러주기 저장*/